@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

.navbar {
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    opacity: 0.8;
    color: #fff;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 30px;
  }
  
  .navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    border-bottom: 2px solid #28a745;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
  }
  
  .navbar .logo {
    font-weight: 400;
  }
  
  .text-primary {
    color: #28a745;
  }



.container{
    max-width:1300px;
    margin:auto;
    padding-left:25px;
    padding-right:25px;
}
.row{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-around;
}
body{
    font-family: 'Poppins', sans-serif;
}
.small-container{
    max-width:1080px;
    margin:auto;
    padding-left:25px
    padding-right:25px;
}
.col-4{
    flex-basis:255;
    padding:10px;
    min-width:200px;
    margin-bottom:50px;
    transition:transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align:center;
    margin: 0 auto 80px;
    position:relative;
    line-height:60px
    color:#555;
}
.title::after{
    content:'';
    background:#ff523b;
    width:80px;
    height:5px;
    border-radius:5px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);

}

h4{
    color:#555;
    font-weight:normal;
}
.col-4	p{
    font-size:14px;
}
.rating .fa{
    color:#ff523b;
}

.brands{
    margin:100px auto;
}
.col-5{
    width:160px;
}
.col-5 img{
    width:100%;
    cursor:pointer;
    filter:grayscale(100%);
}

.f-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
  }
  
  .f-row {
    display: flex;
  }
  
  footer {
    background: #000;
    color: #b0b5b0;
    font-size: 14px;
    padding: 60px 0;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer ul li {
    margin-bottom: 5px;
  }
  
  footer a {
    text-decoration: none;
  }
  
  .footer-col {
    flex-basis: 25%;
    margin: 0 3.5rem;
  }
  
  footer h3 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  footer a {
    color: #b0b5b0;
  }
  
  footer a:hover {
    color: #3dd954;
  }
  
  #copyright {
    position: relative;
    top: 40px;
    text-align: center;
  }


.ss .logo {
    font-weight: 400;
}
.row-2{
    justify-content:space-between;
    margin:100px;
}
select{
    border:1px solid #ff523b;
    padding:5px;
}
select.focus{

    outline:none;
}
.page-btn{
    margin:0 auto 80px;
}
.page-btn span{
    display:inline-block;
    border:1px solid #ff523b;
    margin-left:10px;
    width:40px;
    height:40px;
    text-align:center;
    line-height:40px;
    cursor:pointer;
}
.page-btn span:hover{
    background:#ff523b;
    color:#fff;
}
.addToCart{
    display:inline-block;
    background:;
    color:;
    padding:8px 30px;
    margin:3-px 0;
    border-radius:30px;

}
.addToCart:hover{
    background:white;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content */
#modelContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.cart_button{
    position: fixed;
    overflow: hidden;
    top: 10%;
    right: 0%;
    width:5 rem;
    height:5rem;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20%;
    border: 2px solid #fcfcfc;
    text-align: center;
    background: rgba(74, 73, 73, 0.5);
    transition-duration: 0.2s;
}
#modelContent{
    background-color: white;
    height: 750px;
    width: 600px;
}#modelContent{
     background-color: white;
     height: 750px;
     width: 600px;
 }
.btn{
    display:inline-block;
    background:;
    color:;
    padding:8px 30px;
    margin:3-px 0;
    border-radius:30px;

}
label {
    display: inline-block;
    width: 80px;
    height: 30px;
    font-size: 16px;
}


.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; } }

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

.tab-content {
    overflow: hidden; }
.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

.card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }

@media screen and (min-width: 997px) {
    .wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }

.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }

.checked, .price span {
    color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }

.product-title {
    margin-top: 0; }

.size {
    margin-right: 10px; }
.size:first-of-type {
    margin-left: 40px; }

.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
.color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
    text-align: center;
    line-height: 2em; }
.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
    background: #ff9f1a; }

.green {
    background: #85ad00; }

.blue {
    background: #0076ad; }

.tooltip-inner {
    padding: 1.3em; }
.carousel {
    margin-top: 20px;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%;
}
.loginScreen{
    background:url("../img/foot.jpg");
}
.box {
    margin: 0px auto;
    margin-top: 140px;
    width: 39%;
}


.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}
